### Node modules ###
/node_modules/
/frontend-admin/node_modules/
/frontend-booking/node_modules/
/backend/node_modules/

### Build outputs ###
/frontend-admin/dist/
/frontend-booking/dist/
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

### Environment & logs ###
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log*
yarn-error.log*
/.phpunit.cache

### IDE/editor settings ###
/.idea/
/.vscode/
/.fleet
